<%= form_for @create_new_relationship, remote: true, authenticity_token: true do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit t(".follow"), class: "btn btn-primary" %>
<% end %>
